{% extends "user/base.html" %}
{% block content %}
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
 <h1 class="font-italic" >Homepage </h1>
<h4> Hello {{user.username}}</h4>
<h6>
</h6>
   <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <a class="navbar-brand mr-4" href="{% url 'site-homepage' %}">{% load static %} <img src="{% static "user/media/NewLogo_3.png" %}" class="rounded-left"  alt="logo" width=50px height=50px /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
<button type="button" class="btn btn-light">Post</button>
<button type="button" class="btn btn-light">Record</button><div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">

      </div>
    <formclass="d-flex"role="search"method="POST">
 {% csrf_token %}
 <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    name="search_query"
    required aria-label="Search"
 >
 <button class="btn btn-outline-success"type="submit">Search</button>
</form>       <a type="button" href="{% url 'site-editacc' %}" class="btn btn-light">Edit Account</a>


    </div>
       {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'site-user-logout' %}"  >{% load static %} <img src="{% static "user/media/logout.png" %}"  width=30px height=30px</a>
        {% endif%}

  </nav>

</header>

{% endblock content %}

